
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 400;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background: cadetblue;
}

.nav-list {
    display: flex;
    margin-right: 20px;
    list-style: none;
}

.nav-list a {
    display: block;
    color: white;
    padding: 20px;
    margin: 0;
    text-decoration: none;
}

.nav-list a:hover {
    background: rgb(57, 57, 105);
}
  

@media (max-width: 600px) {
    html {
      font-size: 14px;
    }
}
  
.project-grid a {
    text-decoration: none;
    color: black;
}

.contact-links a {
    text-decoration: none;
    color: WHITE;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  
.welcome-section h1, p{
    color: white;
}

.project-section {
    text-align: center;
    padding: 20px 0px;
    background: rgb(129, 148, 184);
}

.project-section a {
    text-decoration: none;
}

.project-section h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile {
    padding: 0 20px;
}

.project-tile img {
    height: 200px;
}

.code {
    color: rgb(129, 148, 184);
    transition: color 0.3s ease-out;
  }
  
.project-tile:hover .code {
    color: #3d3d3d;}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gray;
    padding-bottom: 10px;
    padding: 20px;
}

#contact i, a {
    margin: 5px;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: gray;
    border-top: 4px solid cadetblue;
}
  
footer p {
    margin: 5px;
}
  
footer i {
    vertical-align: middle;
}
  


  

