*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 10px;
    text-align: center;
}

h1 {
    color: saddlebrown;
}

h3 {
    font-size: larger;
}

.parties {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

li {
    list-style: none;
}

header h3 {
    margin-top: 20px;
    color: rgb(51, 51, 190);
}

button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: rgb(74, 134, 59);
    border: none;
    color: rgb(255, 255, 255);
    font-size: medium;
    border-radius: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(235, 168, 93);
  }

.senatorDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.senatorDiv figure {
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 5px;
}

.senatorDiv figure:hover {
    border: 2px solid rgb(78, 212, 0);
}
