*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 10px;
}

h1 {
    color: saddlebrown;
}

h3 {
    font-size: larger;
}

.senatorDiv {
    display: flex;
    flex-wrap: wrap;
}

.senatorDiv figure {
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 5px;
}

.senatorDiv figure:hover {
    border: 2px solid rgb(78, 212, 0);
}
