*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

header {
    height: auto;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000000;
}

.backBtn {
    position: absolute;
    width: 80px;
    top: 20px;
    left: 20px;
    height: 40px;
    font-size: 12px;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(85, 85, 85);
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
  }

h1 {
    color: rgb(59, 90, 177);
}

.seniorty {
    font-size: larger;
    color: rgb(184, 255, 255);
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    padding: 3px;
    color: rgb(230, 230, 230);
    list-style-type: none;
}

header h2 {
    margin-top: 20px;
    color: seniorty;
    color: rgb(43, 85, 141);
}

button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: rgb(74, 134, 59);
    border: none;
    color: rgb(255, 255, 255);
    font-size: medium;
    border-radius: 15px;
    cursor: pointer;
}
  
button:hover {
  background-color: rgb(235, 168, 93);
}

main {
    padding: 20px;
}  

.senatorDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.senatorDiv figure {
    margin: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(83, 83, 83);
    background: rgb(192, 192, 192);
    border-radius: 5px;
}

.parties {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.small-container {
    width: 50%;
}

#democratList {
    display: none;
}

#republicanList {
    display: none;
}




